[2020-07-25 09:09] jasonwilliams opened #1 "Support images"
Currently images created in markdown are not transferred across.

[2020-07-25 09:11] jasonwilliams opened #2 "Blurry syntax on Windows"
Anki in dark mode on windows has blurry Syntax.

[2020-07-28 02:26] jsjoeio opened #3 "Can't get it to work"
Hey Jason!

First, thanks for making this!

Second, I'm having some issues getting it to work. I wonder if you could add a "Quickstart" or "Getting Started" section to the `README.md`.

Here's what I did:
- opened up Anki (macOS)
- installed the extension in my Foam workspace
- installed AnkiConnect
- ran command: Anki: Sync Anki
- ~~see error: "Failed to connect to Anki: Do you have Anki running?

[2020-07-28 02:27] jsjoeio commented on #3
Okay I'm going to use this issue as a notepad as I keep trying to figure it out. So I used the "Anki: Send to Own Deck" and that got something to show up in Anki, but no cards.

[2020-07-28 02:31] jsjoeio commented on #3
No luck. Can't figure out why Anki isn't receiving the cards.

[2020-07-28 06:22] jasonwilliams commented on #3
Thanks for trying this out @jsjoeio
Could you run the command with dev tools open (in VSCode, help, toggle dev tools) and see if anything shows up in there?
Usually if the deck gets created but no content it could be because another deck has those same cards somewhere, are they unique? (I fixed this but it’s not in the release)

[2020-07-28 06:29] jasonwilliams commented on #3
Could you try deleting “notes” and running “send to deck” ?

[2020-07-28 18:15] jasonwilliams commented on #3
I’m going to add better logging so it can be debugged a bit more easily

[2020-07-28 21:18] jasonwilliams commented on #2
fixed in next release

[2020-07-28 22:21] jsjoeio commented on #3
I deleted "notes" and run "send to deck" with the dev tools open. Here's what showed up:

[code]

And here's what I see in Anki
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/88728121-dce05900-d0e5-11ea-992a-8e5b5eaf05aa.png">

I'll try deleting everything in `anki.md` and writing new cards.

[2020-07-28 22:22] jsjoeio commented on #3
That didn't work either. Could it be overwriting the deck and not adding the cards?

[code]

[2020-07-29 11:41] jasonwilliams commented on #3
I think the deck side of it is fine and the correct template isn’t there.
Can you go into your card models in Anki (Basic etc) and search for one called BasicWithHighlightVSCode ?

[2020-07-29 16:46] jsjoeio commented on #3
I hope I'm looking in the right place. I'm not seeing one

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/88828576-4745d780-d180-11ea-86f9-83c7fd8eba5c.png">

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/88828604-50cf3f80-d180-11ea-8e0b-8977a4bb7ccf.png">

[2020-07-29 19:44] jasonwilliams commented on #3
Ok that was useful thanks!
So It looks like the plugin was unable to upload the correct template and that’s why the cards are failing to show up. Even though the deck exists the template doesn’t so the cards can’t be uploaded.

I don’t know why the template wasn’t installed, it’s odd. It’s supposed to keep trying if it fails (as you may not have anki running when you use the plugin, then sets a fl

[2020-07-29 19:49] jasonwilliams commented on #3
@jsjoeio for now you could try uninstalling the plugin. Reinstall it with dev tools open to see the console output

[2020-07-29 23:45] jsjoeio commented on #3
Hmm...this is strange. When I install the Anki extension, these are the errors I see.

<img width="912" alt="image" src="https://user-images.githubusercontent.com/3806031/88864057-2baaf300-d1b9-11ea-8dd1-d10ef05a0448.png">

Let me try uninstalling the Rust extension just for kicks and trying again.  No Rust errors, but nothing logged when installing the extension. I tried sending it to my decks ag

[2020-07-31 16:48] jasonwilliams commented on #3
@jsjoeio i've released `0.0.2` could you try starting up Anki, then opening up VSCode and downloading the new version.
You can now set `anki.log` to `info` then go to `output` and see what comes out. If you could copy and paste it here that would be useful.

It has some bug fixes in it so may work better

[2020-07-31 21:31] jsjoeio commented on #3
It works now!!

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/89079016-6b4d1880-d33a-11ea-89d8-f50737fcede4.png">

[2020-07-31 22:25] jasonwilliams commented on #3
Awesome!
I don’t know why it didn’t upload the template the first time, but looks like it worked this time around.

[2020-07-31 22:25] #3 closed

[2020-08-04 23:13] nixsee opened #4 "Would it be possible to import an existing Anki deck to a markdown file?"
I'd love to import, edit and re-export some existing Anki decks. Is this a feature that might be possible to implement?

[2020-08-05 10:54] jasonwilliams commented on #4
@nixsee can I ask what your usecase is for this?

Soon i'll be working on browsing Anki decks/cards but it will be in yaml/JSON format. Usually so people can make quick edits to metadata and the questions/answers etc.

Converting back to Markdown won't be easy due to the way the cards are stored.

[2020-08-05 11:00] jasonwilliams commented on #2
Fixed  in https://github.com/jasonwilliams/anki/releases/tag/v0.0.2

[2020-08-05 11:00] #2 closed

[2020-08-05 17:29] nixsee commented on #4
I have downloaded about 8 different decks for learning Spanish, but I'd like to customize them to my own level/preferences - maybe even merge them all into one! It appears that this is very cumbersome/impossible within Anki, so I'd just like to be able to edit an entire deck in one file in VS Code, be it markdown, JSON or whatever format works.

[2020-08-06 14:13] jasonwilliams commented on #4
@nixsee let me start with the json/yaml explorer then we can go from there and see if that satisfies what you're after.
it **should** be possible to move cards from 1 deck to another as it is just implementing VSCode's fileSystemProvider.

[2020-08-06 19:17] nixsee commented on #4
Sounds great. I look forward to seeing what you come up with!

[2020-08-10 14:18] flynngao opened #6 "Can't add cards with send to deck command."
markdown file

[code]
info log
{
  "label": "Anki for VSCode",
  "level": "info",
  "message": "active Editor..",
  "time": "2020-08-10 13:17:32.838Z"
}
{
  "label": "Anki for VSCode",
  "level": "info",
  "message": "{\"action\":\"createDeck\",\"version\":6,\"params\":{\"deck\":\"notes\"}}",
  "time": "2020-08-10 13:17:32.853Z"
}
{
  "label": "Anki for VSCode",
  "level": "info",
  "message": "{\

[2020-08-10 14:57] jasonwilliams commented on #6
@flynngao for now you could try uninstalling the plugin. Reinstall it with dev tools open to see the console output. This should kick it to trying again. Can you paste the output here..

Also can you go into Anki and click Browse, then tell me if you have a model called `BasicWithHighlightVSCode`

[2020-08-10 15:04] flynngao commented on #6
[code]

No BasicWithHighlightVSCod model
![image](https://user-images.githubusercontent.com/2296036/89797716-d8905300-db5d-11ea-9caa-8e4ab286bc63.png)

[2020-08-10 15:06] jasonwilliams commented on #6
@flynngao which version are you using?
If you've uninstalled and reinstalled it there should be some setup logging involved, im not seeing that in your output.

It doesn't look like it set itself up properly (i don't know why)

[2020-08-10 15:12] flynngao commented on #6
version 0.0.2

[2020-08-13 20:56] jasonwilliams commented on #6
@flynngao in version 0.1.0 could you try running the force re-install with the output console open and paste here what you get?

[2020-08-14 13:29] parthopdas opened #7 "Support cloze deletions"
@jasonwilliams thanks for the wonderful tool.

would be good to have cloze deletion support.

[2020-08-15 12:38] lingocoder opened #8 "Consider documentation clarity"
This is a super neat extension! Thanks for doing it.

Reading the README, I spotted a couple things:

* Rewording to: [„...***this extension's** default deck **named** "notes"...*“](https://github.com/jasonwilliams/anki/commit/d95b2f1785b58003e73fc7bafe10b92a9a97cd7c#diff-04c6e90faac2675aa89e2176d2eec7d8L19) makes it clear that you don't mean „*Anki comes with a "notes" deck by default...*“
* A pe

[2020-08-15 15:19] jasonwilliams commented on #8
Thanks for the feedback @lingocoder ill take a look through these and make some adjustments

[2020-08-15 17:44] lingocoder commented on #8
Cool thanks.

I stand corrected. I'm sorry.

I see you do [*already have an instruction for that*](https://github.com/jasonwilliams/anki/commit/d95b2f1785b58003e73fc7bafe10b92a9a97cd7c#diff-04c6e90faac2675aa89e2176d2eec7d8L76).

Also, :+1: for the *Support cloze deletions* enhancement that @parthopdas requested.

[2020-08-16 03:50] parthopdas commented on #8
@jasonwilliams rox!

[2020-08-18 09:23] jasonwilliams commented on #7
So i could detect if the card title is using cloze syntax, then use the `cloze` card type if that's the case

[2020-08-18 17:24] jasonwilliams commented on #7
Support added in https://github.com/jasonwilliams/anki/commit/cdae07c06fd6925b07bd05fcbe8b8d7390e338e9

[2020-08-18 17:33] jasonwilliams commented on #7
@parthopdas could you please try 0.2.0 and let me know if that works as you expected? (only just published so may take time to propagate)

[2020-08-20 20:52] lingocoder commented on #7
Thanks for adding _`cloze`_ support @jasonwilliams :+1:

I've upgraded to 0.2.0. But I can't figure out how to make the extension create a _`cloze`_ card:

![anki vscode cloze bug 0 a](https://user-images.githubusercontent.com/49788472/90823465-d4b6ba80-e32d-11ea-8747-11dd58a5c3c5.gif)

I've tried:
1. Putting the card title in _`cloze`_ format
    * \# {{c1:Java SE}}
2. Putting the \#\# in _`cloze

[2020-08-20 21:50] jasonwilliams commented on #7
Strange!

Could you paste here the exact markdown text you're testing this with?
Cloze only works inside a H2 (##)

[2020-08-20 22:23] lingocoder commented on #7
Right. You can see in the screen recording, I do use double colons. I didn't escape them in my comment so, the editor rendered it as a single colon.

This is the markdown I first start with in the screen recording:

You can see in the recording, I also tried it the other way I listed in my previous comment.

The markdown I pasted above has the `cloze`s in the H2.

***TL;DR*** — The *back* sides of

[2020-08-20 22:31] jasonwilliams commented on #7
Did the removal of the % work for you?

[2020-08-20 22:34] jasonwilliams commented on #7
Having a Cloze with a back is going to be tricky.
This is because the default cloze template only accepts 1 “Text” field, and making a new cloze template via the API isn’t really possible, so I’m not sure I can actually implement that.

The best I can do for now is allow extending the front.

[2020-08-20 22:55] lingocoder commented on #7
I had already edited my original comment with answers to your questions, before I saw your other follow-up questions.

I have a this _`cloze`_ type that has the following two fields:

![anki fields for cloze 0](https://user-images.githubusercontent.com/49788472/90833215-77c40000-e33f-11ea-9ec4-fde9d2ce766d.png)

The „*Extra*“ field is what I referred to as „*the back*“ in my previous comments.

I

[2020-08-20 23:11] jasonwilliams commented on #7
You just have added Extra (somehow) as I don’t have that on mine.
Can you show your template for your Cloze card?

[2020-08-20 23:26] lingocoder commented on #7
It's not uncommon for end users to able to *override* built-in properties of different software. I was just wondering if that sort of flexibility you're designed into your extension.

Yeah. I think you misunderstood me. I was actually thinking of making that kind of extensibility available for *everyone*; not just me.

By that, I mean there could be *some kind* of extensibility point where end use

[2020-08-21 00:02] jasonwilliams commented on #7
Yep I understand, this idea has floated around and for now it’s unlikely to happen any time soon.
It’s not as simple as “selecting a note to use and the extension sends to that”. Each note has specific fields and cards, so now you need to select what the fields are called and what type they are. This is the reason the extension uses its own note type, because that’s compatible with how the extensi

[2020-08-21 00:39] lingocoder commented on #7
The *idea* of your extension is appealing. But it's petty much strictly for people who use Anki's *Basic* note type exclusively.

I'm pretty good at HTML/CSS. So, in my current approach, I use an HTML editor to create my Anki cards. I just copy the markup from my editor and paste it into Anki.

Which is essentially what your extension does. Except your extension's *copy and paste* is done over TCP

[2020-08-21 07:33] jasonwilliams commented on #7
This extension is new, it was only created a couple of weeks ago. I have to start somewhere, and that somewhere is Basic but it’s the easiest to work with.

It can’t be as flexible as what you’re asking for because I’m limited by what the API can do, which is less than what you can do manually.

If I can’t create new Cloze templates then that means overwriting the templates that are already there,

[2020-08-22 17:24] Einlar opened #9 "Support for custom card models/templates"
It would be nice to be able to create cards with a custom _model_ and _templates_. The default ones in Anki are pretty limited: "Basic" cards have only two fields ("Front" and "Back"), while "Cloze" cards just one.
Perhaps the greatest strength of Anki is the ability to define a new card _model_ with a customized set of _fields_. For example, I can define a new model "Model1" with 4 fields "A", "B

[2020-08-23 15:35] lingocoder opened #10 "Support HTML for Writing Flashcards"
### Expected Behavior

The Anki VSCode extension should support the native markup language of Anki itself for writing questions and answer flashcards.

### Current Behavior

The Anki VSCode extension currently supports only Markdown for writing questions and answer flashcards. Presumably —
 *at some point before sending flashcard content to Anki* —the extension implements a Markdown-to-HTML transf

[2020-08-23 17:58] jasonwilliams commented on #10
Could you show me a workflow and provide an example?

This is so i can understand exactly how you expect this to work.
Cards usually have a Front and a Back, so how does the extension know which bit of html to send to the front and which bit to send to the back? Is this 2 files? a `<hr />`?

[2020-08-23 19:26] lingocoder commented on #10
By *workflow*, I'm assuming you mean the steps a user would execute to create a flashcard? If so, the *workflow* for using  HTML to create flashcards need not be significantly different from the existing *workflow*&hellip;

As an Anki end user who knows nothing about *The API*, I sorta don't care about „*the how*“. I see „*the how*“ as an ***implementation detail***.

In addition to having faith i

[2020-08-23 19:40] jasonwilliams commented on #10
Sure, but *you* raised issue, so you must care enough to want this as a thing, and if that’s the case you must have some idea of how it would work?

Maybe you could start by explaining how you make your Anki cards currently and the manual process you have to go through?

[2020-08-23 21:36] lingocoder commented on #10
„*I sorta don't care about ‚the how‘...“*, doesn't mean I literally DGAF about wanting it to be a thing. I meant I don't have a strong preference or opinion for how the feature should be implemented at the programming language level.

In all honesty and humility: I don't.

I don't know *The API*. I've never built nor maintained a vscode extension. So I sorta would rather *stay in my lane* as an An

[2020-09-12 10:49] songguoqiang opened #12 "Feature suggestion: define anki cards in a markdown file with tags instead of ##"
Jason, thanks for making this tool. It's super useful for my note-taking workflow!

Just a thought: right now this tool submits the whole markdown file to anki (i.e. everything under the ## ).  This works if I create dedicated markdown files with anki cards only, but if my markdown files contain other content than anki cards, this does not work well.

There is another tool called Neuracache that i

[2020-09-12 11:35] songguoqiang opened #13 "Feature suggestion: avoid creating duplicated flash cards when sending to anki"
In the current version (0.3.0), if I push the same markdown file twice to anki, duplicated cards are created in anki.

Can we automatically detect the duplicates (e.g. by comparing front side of cards)?

[2020-09-12 11:59] jasonwilliams commented on #13
The only time a duplicate happens is if you push the same card to different decks. It definitely shouldn’t be possible to create duplicates in the same deck. The API guards against this already

[2020-09-14 10:49] songguoqiang commented on #13
My anki version is 2.1.33

This is the markdown file I was testing with

# TypeScript

## TypeScript: Utility Type: Partial\<Type\>

Test

When I executed the command "Anki: Send to Deck" a few times, I got the duplicates in Anki, all under "notes" deck. Here is the screenshot

![image](https://user-images.githubusercontent.com/4964431/93076903-65817b80-f6cb-11ea-9cef-81622f48fca2.png)

[2020-09-14 11:04] jasonwilliams commented on #13
Thanks
I will take a look, it could be a possible regression

[2020-09-14 18:02] jasonwilliams commented on #13
@songguoqiang I've been able to reproduce this by using certain characters.
It looks like the `>` character gets converted to `&gt;` and for some reason AnkiConnect or Anki cannot discern that it is unique. If you try the same without the < > it should work.

Im not sure why special characters break the duplicate check, i would need to raise it with AnkiConnect.

[2020-09-14 18:07] jasonwilliams commented on #12
Thanks for raising, i will take a look at this when i have time

[2020-09-15 19:05] jasonwilliams commented on #10
@lingocoder thanks, i think we can do something similar with the  comment as a delimiter

[2020-09-16 14:36] abedahmeduhp opened #15 "How can i display the blue line between the lines please?"
![unknown](https://user-images.githubusercontent.com/62298107/93352024-4e10d280-f832-11ea-8bb8-1ba164862cec.png)

[2020-09-16 15:16] abedahmeduhp opened #16 "Problem of Duplicate cards"
When i insert the same question 1 / 1 (first and third one ) , i noticed that i number of cards is 2 and not 3

![image](https://user-images.githubusercontent.com/62298107/93356999-c037e600-f837-11ea-8eec-2c7d869afd48.png)

how can i solve the problem .. thank you

[2020-09-16 15:25] abedahmeduhp commented on #16
i found a way to activate duplicate cards
https://www.laohuang.net/20180214/ankiconnect-dupe-card-issue/
use english translation
however how can i change settings of Anki Connect Api of the extension you use to allow duplicate ?
thanks

[2020-09-16 15:38] jasonwilliams commented on #16
@abedahmeduhp duplicate cards are not allowed within the same deck.
Could you explain why you would want to upload duplicate cards to a deck?

[2020-09-16 15:40] jasonwilliams commented on #15
@abedahmeduhp  im not sure what you're asking but that's specific to VScode it doesn't have anything to do with this extension. I believe that is VSCode showing you added some new content which isn't tracked

[2020-09-16 15:59] abedahmeduhp commented on #16
![image](https://user-images.githubusercontent.com/62298107/93362211-a0a3bc00-f83d-11ea-8393-6869bffaeb90.png)
yes sometimes, i want to talk about a concept more than one time as a question to create a long answer
i found a way in AnkiConnect to set True for Duplicate inside AnkiConnect API and AnkiService.ts file  but not work

However is there any way to set it duplicate as true ?

![image](http

[2020-09-16 16:48] abedahmeduhp commented on #16
![image](https://user-images.githubusercontent.com/62298107/93367645-a9e45700-f844-11ea-82ec-b0b79babb12d.png)
![image](https://user-images.githubusercontent.com/62298107/93367668-b668af80-f844-11ea-864b-b963c3342b1a.png)
so i get 3 cards instead of 4 ...
can you guide me to solve it please ? i enabled duplication inside _init_ file of Anki COnnect but still the same problem

[2020-09-16 17:37] abedahmeduhp opened #17 "errors after vsce package command"
![image](https://user-images.githubusercontent.com/62298107/93372286-95578d00-f84b-11ea-8209-a261916bd804.png)
i want to generate the vsxi extention for developpement mode

Executing prepublish script 'npm run vscode:prepublish'...

One CLI for webpack must be installed. These are recommended choices, delivered as separate packages:
 - webpack-cli (https://github.com/webpack/webpack-cli)
   The or

[2020-09-17 09:04] jasonwilliams commented on #17
You don't need to run vsce package to run a local version, this is for publishing.
You can just run the launch task that should be enough

[2020-09-17 14:34] abedahmeduhp commented on #17
![image](https://user-images.githubusercontent.com/62298107/93485675-39e4d800-f8fb-11ea-9d81-58f59709d36a.png)
i run the test by the command tscrunTest.ts
but found this error

How can i test it please

[2020-09-17 14:44] jasonwilliams commented on #17
In VSCode go to launch, and hit play.
That’s literally it

[2020-09-17 15:28] abedahmeduhp commented on #17
![image](https://user-images.githubusercontent.com/62298107/93492426-b4fdbc80-f902-11ea-92a2-3d8d4b64b5b3.png)
Thank you so much, how ever i found those errors
How can i bypass them
Thanks Jason

[2020-09-18 10:09] abedahmeduhp commented on #17
is there any way to solve it thanks

[2020-09-22 18:36] trxo opened #18 "does it support latex?"
in markdown tag is $$....$$,but anki is [$$]...[/$$]

[2020-09-23 12:35] jasonwilliams opened #19 "Tests"
Tests would be nice

[2020-09-23 19:47] abedahmeduhp commented on #17
?

[2020-09-29 22:10] abedahmeduhp opened #20 "i ll be happy if there a setting for Duplication in VSC for the Anki Extension"
firstly, thank you for the huge effort to make this great extension ..
i'll be so happy if you can't add in settings of VSC for the addon the ability to allow duplicate cards ..
it's helpful for me...
for example if i wrote the following cards
![image](https://user-images.githubusercontent.com/62298107/94621973-306b5080-02a9-11eb-8272-fe0873921e2c.png)
then coming back the next day and forgetting

[2020-09-29 22:30] jasonwilliams commented on #20
is this a request to overwrite the previous card if you're add new content?

[2020-09-29 22:35] abedahmeduhp commented on #20
no, i don't want to overwrite the previous card ...
i want to see in the Anki Browser
--------------------
Front : Insight
Back : hmmmm
---------------------
Front : Insight
Back : useful information for a topic ...

i use anki for taking notes that's why sometimes, i can't notice there is Front Insight exists before .. but with different content

Thanks again

[2020-09-29 23:55] jasonwilliams commented on #20
Ok, this sounds like a duplicate of https://github.com/jasonwilliams/anki/issues/16 I will most likely add a duplicate option I’m a future release

[2020-10-02 14:03] abedahmeduhp opened #21 "is there any way to paste picture inside vsc from clipboard then insert it by Anki ?"

[2020-10-07 08:33] #20 closed

[2020-10-07 08:33] #19 closed

[2020-10-07 08:33] jasonwilliams commented on #18
Not right now, I don’t use latex myself, PRs are welcome though

[2020-10-07 08:35] #15 closed

[2020-10-19 05:18] parthopdas commented on #8
@jasonwilliams @lingocoder hope you guys have come across https://www.remnote.io already.

[2020-11-02 06:45] ThrashAbaddon commented on #21
This interests me also

[2020-11-02 09:42] jasonwilliams commented on #21
Could you go into more detail on what you want to happen here? Which card does the picture go to? Is this pasting into a markdown file or straight into a new VSCode file? I’ve never pasted an image directly into code so don’t understand this workflow

[2020-11-02 11:35] purequant opened #22 "When the image path has Chinese, the addon can't work properly"
This addon is very good ,but I find when the image path has Chinese, it can't work properly.

For example:

[code]

and error message:

![image](https://user-images.githubusercontent.com/26440503/97863651-48b80a80-1d42-11eb-9f4b-183f25e9db15.png)

[2020-11-03 06:28] ryepesg opened #23 "notion2anki format"
[notion2anki](https://github.com/alemayhu/notion2anki) uses toggles to separate questions from answers. I use the same pattern in VSCode using [folds](https://code.visualstudio.com/docs/editor/codebasics#_folding) to test myself from VSCode. Allowing the same format to export to Anki would be awesome, thanks!

[2020-11-09 18:18] #22 closed

[2020-11-09 18:19] jasonwilliams commented on #22
@purequant thanks for raising, this has been fixed in v1.0.1 which is rolling out around now

[2020-11-09 18:26] jasonwilliams commented on #17
@abedahmeduhp did you sort this?

[2020-11-10 06:14] MicahGV opened #24 "Send to Own Deck grabs everything under title and not just the title"
So when I create a deck using the "Send To Own Deck" command the deck name basically ends up being everything under the initial "#" and I was wondering if this is expected behavior and if there is any way around it. Below are some sceenshots of what I am referring to.
![image](https://user-images.githubusercontent.com/24993737/98634128-5a705380-22e8-11eb-9811-d3af2fbc6c93.png)
![image](https://use

[2020-11-10 09:25] jasonwilliams commented on #24
@MicahGV https://github.com/jasonwilliams/anki/blob/master/src/markdown/Serializer.ts#L75 here

[2020-11-13 18:50] jasonwilliams commented on #24
This how now been fixed in https://github.com/jasonwilliams/anki/releases/tag/v1.0.2

[2020-11-13 18:50] #24 closed

[2020-11-14 04:31] imalightbulb opened #26 "Cloze not working"
I created a markdown file with the content

`## A bit like {{c1::this}}.`

However, this error occurs when I try to send to deck.

![image](https://user-images.githubusercontent.com/66677431/99139613-4eccb600-2675-11eb-8063-b2974e616cab.png)

[2020-11-14 09:55] jasonwilliams commented on #26
@imalightbulb what version does this happen on? Does it happen on a previous version?

[2020-11-14 09:59] imalightbulb commented on #26
It happened on the latest version, v1.0.2
![image](https://user-images.githubusercontent.com/66677431/99144720-32477280-26a3-11eb-848e-17d14dd23b95.png)

[2020-11-14 10:07] jasonwilliams commented on #26
@imalightbulb could you confirm it doesn’t happen on v1.0.1 ?

[2020-11-14 10:09] imalightbulb commented on #26
Can I degrade the extension?

[2020-11-14 10:13] jasonwilliams commented on #26
In VSCode there’s an option to install a different version yes

[2020-11-14 10:17] imalightbulb commented on #26
Hmmm....
the same error happens in on v1.0.1 as well

[2020-11-14 10:19] imalightbulb commented on #26
The cloze deletion doesn't work after v0.3.0

[2020-11-14 10:38] jasonwilliams commented on #26
@imalightbulb would you be willing to work on the fix? I think the regression was introduced here https://github.com/jasonwilliams/anki/commit/9e610a14f612f5b5932cd4ff29ec4df75898ac20

If not I’m not sure when I’ll get round to it

[2020-11-14 10:41] imalightbulb commented on #26
Sorry but I don't know much about programming :sweat_smile:

[2020-11-14 10:42] jasonwilliams commented on #26
No worries I’ll see what I can do

[2020-11-14 13:24] jasonwilliams commented on #26
Fixed in https://github.com/jasonwilliams/anki/releases/tag/v1.0.3

[2020-11-14 13:24] #26 closed

[2020-11-14 13:28] imalightbulb commented on #26
Thanks! :100:

[2020-11-24 05:50] Stedag commented on #21
Search for packages in vscode related to pasting images. https://github.com/imlinhanchao/vsc-markdown-image works well. It will embed the image into your markdown file and store the image in a specified directory.

Assuming vscodeanki handles the link properly, this should be all you need. 👍

[2020-11-24 09:16] jasonwilliams commented on #21
@Stedag would you be up for working on this?

[2020-11-24 20:42] Stedag commented on #21
This feature is available through the marketplace.

@abedahmeduhp and @ThrashAbaddon  I tested images pasted with [Markdown Image](https://marketplace.visualstudio.com/items?itemName=hancel.markdown-image) are incorporated properly. It works great so far:

![image](https://user-images.githubusercontent.com/5147273/100146712-53a91b00-2e68-11eb-80ca-9f0b3529fb6c.png)
-becomes->
![image](https://user

[2020-11-24 21:21] jasonwilliams commented on #21
This sounds good to me, I’m closing
@Stedag please ask me questions in that issue I can help, I’ll also write a contributing guide and ping you that too

[2020-11-24 21:21] #21 closed

[2020-11-27 03:36] suiwenfeng opened #27 "addNotes not working with AnkiConnect"
## Versions
Anki:
[code]

AnkiConnect:

[code]

Anki for VSCode:

[code]
## Problem

Get null while addNotes

* Response

[code]
* Request

[code]

## Expect

[code]

After debug, only work when change ` "modelName": "BasicWithHighlightVSCode"` to  `"modelName": "Basic"`.
so this issue caused by constants definition at `src/constants.ts` ?

[2020-11-27 08:28] jasonwilliams commented on #27
Check you have the BasicWithHighlightVSCode card type on Anki. You can force reinstall if not

[2020-11-27 17:25] suiwenfeng commented on #27
No need to force reinstall, works after make below settings.

[code]

[2020-11-27 17:25] #27 closed

[2020-11-28 06:17] DHNishi opened #28 "Duplicate check fails against the example question?"
I tried creating a MD file with the following text:

[code]

I copied the questions directly our of the README.md. The "What's the Markdown?" question gets duplicated every time I run Anki: Send to Deck.

A quick diff check of the default notes's deck's JSON files for the questions shows that the duplicated questions only differ in the "id" field.

---------------------

A minimal repro of this bu

[2020-11-28 08:56] jasonwilliams commented on #28
I think this is a duplicate (no pun intended) of https://github.com/jasonwilliams/anki/issues/13

Certain characters cause he duplicate check to fail on AnkiConnect. I think it’s because they’re htmlEncoded and that causes problems.

[2020-12-07 01:55] Stedag commented on #18
I've weighed a few different approaches and here's a convenient option:

If a `use_math` setting is enabled, and a card's side contains the expressions `/.[\w\d\S]\$/`
Add "[latex]\n" and  "\n[\latex]" to the beginning and end of that side.

#### Pros:
Does not require parsing delimiters.
#### Cons:
Does not allow any markup other than latex on that side of a card.

---
This would certainly benefi

[2020-12-15 10:00] ouyangjunyi opened #29 "Request to support the network picture from the picture bed."
Now only local images are supported.
However, web images are not supported.
![image](https://user-images.githubusercontent.com/31798535/102200149-6eb6fa00-3eff-11eb-9b4f-bfdff89f3e4e.png)

[2020-12-15 10:01] ouyangjunyi commented on #29
![image](https://raw.githubusercontent.com/ouyangjunyi/PicGo/master/images/20201214222127.png)

[2020-12-15 10:01] ouyangjunyi commented on #29
`![image](https://raw.githubusercontent.com/ouyangjunyi/PicGo/master/images/20201214222127.png)`

[2020-12-26 09:46] janmerhar commented on #18
From what I have seen, you can use `\\( \\)` or `\\[ \\]` tags for MathJax Anki integration. Unfortunately the LaTex code is not compiled in preview, but it works in app.

[2021-01-18 02:20] snake89322 opened #31 "Need rewrite deck card！"
new  markdown and use “send to deck”， it's ok！
but then I modify the markdown，same title，then “send to deck”，no changes in Anki.

[code]
send to deck  -  OK!

---------------------------------

[code]
send to deck  -  not changes!

How can I rewirte the same card?

[2021-01-18 08:44] jasonwilliams commented on #31
Hi @snake89322 thanks for raising.
Rewriting functionality currently doesn’t exist, what you’re seeing happen is the Anki extension preventing you from overwriting a card that already exists.

When I last attempted this it wasn’t easy, but ok leave this open as a feature request and take another look some time

[2021-01-25 17:45] codekansas commented on #18
+1 for this, would be awesome to have a simple replacement regex for `$(.+?)$ -> \(\1\)`, `$$(.+?)$$ -> \[\1\]` when the cards are exported. I'll write a PR for this

[2021-01-25 17:46] jasonwilliams commented on #18
Thanks @codekansas
putting it behind a config may be useful as well, in case users want to switch this functionality off

[2021-01-26 10:44] fletchermoore opened #33 "Updates on Save"
I'm going to start working on automatically updating Anki on save. I can think of two ways to do this. Looking for feedback.

1. After you send a file, the ext writes some metadata to the bottom of the file similar to the way foam does it. Subsequent saves check for the metadata and then automatically retrigger the send.
2. Add some kind of meta.anki file to the root of the directory on send which

[2021-01-26 13:20] jasonwilliams commented on #33
Thanks for this!
Is there a reason you’ve ruled out using the workspace storage as a database? I wanted to avoid writing data to each file. Obvious downsides are it getting deleted, but this only happens when the extension gets removed.

[2021-01-26 14:05] fletchermoore commented on #33
I would like to keep all the information needed for functionality between the individual markdown files and the anki db. My workflow is to edit my foam from multiple computers. So any state needs to be in version control at the minimum.

Anki itself is a pretty bad environment for plugin author metadata if you plan to sync. I've tried various strategies there that don't work well.

The number 2 po

[2021-01-26 14:13] jasonwilliams commented on #33
I just remembered that Anki does give an ID to a note you create. So we can apply that ID to the file (it will need to be after the sync so we can get the value back)

then it will need to in the front matter (so it’s not visible to users who are editing md files)

[2021-01-27 10:18] jasonwilliams commented on #33
@fletchermoore how does that sound to you?

[2021-01-27 12:32] fletchermoore commented on #33
Started working on this last night on this branch. https://github.com/fletchermoore/anki/tree/sync_on_save

I went with trying to add [ ] # () style link/comments at the bottom since when I was looking into markdown front matter it seems that is not universal. At least, I think you are referring to a header with --- spacers.

Sort of works, but some issues still to resolve which I listed in my rea

[2021-01-27 12:35] fletchermoore commented on #33
Looks like this at the bottom of the file, added after Send if you have KeepSync option enabled.

[//]: # (Autogenerated Anki Metadata -- delete to disable sync)
[note-ids]: # (1611716069019, 1611716069051, 1611716093803)
[//]: # (End Autogenerated Anki Metadata)

[2021-01-27 12:35] fletchermoore commented on #33
haha. the markdown editor in github removed it

    [//]: # (Autogenerated Anki Metadata -- delete to disable sync)
    [note-ids]: # (1611716069019, 1611716069051, 1611716093803)
    [//]: # (End Autogenerated Anki Metadata)

[2021-01-27 14:19] jasonwilliams commented on #33
It's understood by a lot of markdown editors, including the mobile ones Foam uses.
We should definitely be adding to that (if it exists) rather than creating our own section of metadata. There is a library for adding/parsing it here https://github.com/docs/frontmatter

Did you look at the config I proposed above?
Also, could you try adding it then linking to another markdown file on Foam then runn

[2021-01-27 14:39] fletchermoore commented on #33
I'm not married to this. it was just something so I could start working on the actual diffing functionality. I can replace it with the frontmatter parser.

I think separate is better. I can imagine some people are happy with a one-way push and then want to curate their deck within Anki by other means.

How about

updateOnSave, bool: "Automatically Send to Deck on Save. Enabled per file after initi

[2021-01-27 14:55] fletchermoore commented on #33
Other thoughts: possibly use front matter for sync exclusion/inclusion. "Sync: yes|no"

Could use workspace storage by default. My situation may not be broadly applicable.

The word Sync sort of implies two-way which might be confusing. I cannot think of a way to cleanly incorporate Anki cards into multi-file markdown if they are created and/or edited from within Anki. It would be marvelous to do

[2021-01-27 18:58] jasonwilliams commented on #33
Yeah "Sync" is quite broad and has little meaning in this context.
I just remembered that we also have the "Send To Deck" command which people [expect](https://github.com/jasonwilliams/anki/issues/31) to update the card rather than overwrite it or not work. So we can implement this feature using that first also.

Then we can re-use the same mechanism on save.

The point I'm making here, is that th

[2021-01-27 19:10] jasonwilliams commented on #4
Im open to PRs or ideas on this one.
Sadly when you convert a markdown file to Anki, its a lossy process. So going the other direction and having a card being converted back into markdown isn't straight forward. You may not achieve the same result as what you started with. For now the explorer shows everything in JSON format, but im open for someone to try and create a markdown format for each car

[2021-01-27 19:11] #17 closed

[2021-01-27 19:13] jasonwilliams commented on #28
Closing as duplicate

[2021-01-27 19:13] #28 closed

[2021-01-30 23:51] murpjack opened #35 "Edit template CSS in VSCode"
At present it is possible to view CSS in the ide.
There is an endpoint: [`updateModelStyling`](https://github.com/FooSoft/anki-connect/blob/master/actions/models.md) in ankiconnect, which we could use to pass styles to anki as a string.
We could register a command to do this.

It would make it possible to use sass/less to style cards.

Other ideas after this is complete include a preview - some so

[2021-01-31 01:07] fletchermoore opened #36 "Note ids assigned to Card.id"
When you call Deck.pushNewCardsToAnki, you assign Node ids to the Card.id member.

When you call AnkiService.findCards, you then assign Card ids to the Card.id member.

I don't think this is causing issues in the current code but presents something of a timebomb waiting to go off as I recently discovered in my fork. I propose renaming Card.id to Card.noteId and assigning v.note to the member in An

[2021-01-31 01:44] fletchermoore commented on #33
Issue I have run into:

Send To Deck send the active text editor to deck. When I then update the meta of that file, I initially wrote it to the file. This causes the active text editor and file to become inconsistent.

Since the active text editor could represent unsaved data, perhaps Send To Deck should save the file first? I am trying to imagine a scenario where the user wants to use Send To Dec

[2021-01-31 07:47] jasonwilliams commented on #35
@murpjack you can already view the CSS for each template in explorer right? It’s read-only right now, so you could make it editable and then use the `updateModelStyling` endpoint to send the new css back.

[2021-01-31 07:52] jasonwilliams commented on #33
I think this is the best option.
I’m guessing you can find out if the editor is in an “unsaved” state?

[2021-01-31 07:56] jasonwilliams commented on #36
Sounds good to me. I don’t think I’ve been on top of the card/note terminology from ankiConnect and may have mixed up the two quite a few times

[2021-02-01 01:43] fletchermoore commented on #31
@snake89322

If this happens, would you expect the edited card to retain the spaced repetition information, supposing you already memorized it. Or would you expect to start memorizing it again as a new card?

[2021-02-06 12:46] hcnysa opened #37 "Can't update answer"
[code]

when i first set headline  `h1`  and answer `abc`  and send to deck  i got a card like this
![image](https://user-images.githubusercontent.com/22735764/107118359-9309d400-68bb-11eb-9f55-7918f0a76e5d.png)

and then , i want update the answer to `123` , i change the markdown and send to deck , But it didn't seem to work，Anki not update the answer

![image](https://user-images.githubuserconte

[2021-02-06 13:53] jasonwilliams commented on #37
This is a duplicate issue, please see https://github.com/jasonwilliams/anki/issues/31#issuecomment-762087435

[2021-02-06 13:53] #37 closed

[2021-02-06 13:57] jasonwilliams commented on #33
@fletchermoore i might take a look at this today maybe by using a json file to begin with

[2021-02-06 14:13] fletchermoore commented on #33
I have an implementation going on my fork. Doesn't really match all we've discussed so I haven't sent a pull yet.

I have a sync on save going, metadata in files and send all option.

You can see it in the changes I made to subscriptions.ts

[2021-02-06 14:17] jasonwilliams commented on #33
@fletchermoore sounds great did you want to PR your work in progress?

[2021-02-06 14:24] fletchermoore commented on #36
This is fixed in the pull I sent.

[2021-02-06 14:32] #18 closed

[2021-02-06 14:32] jasonwilliams commented on #18
Released in v1.2.0

[2021-02-06 16:00] jasonwilliams commented on #33
I've left a review on the PR.
The core concept looks good, there's some bugs I've come across but I think its a good implementation so far. The main issue for me is there's too many features bundled into the same PR, and this makes it tricky to review.

I think some things (like sendAll) can be removed and added separately in an upcoming release.

[2021-02-07 19:56] fletchermoore opened #40 "Anki GUI can become disabled"
So, this may be an AnkiConnect bug. It may be due to my version of Anki. Not sure yet. Anki 2.1.38 on Windows

The Anki main window, main view HTML hides and is no longer shown. Doesn't seem to have any other impact on function but I am unable to get it to show and have to close Anki to fix the bug.

On Send, if the Anki Card brower is open and the review screen is on "Congratulations you have com

[2021-02-08 00:48] fletchermoore commented on #40
This seems to be a bug in Anki, AnkiConnect. I was using 2.1.25 on my other Windows system and the error wasn't occuring. I notice in the Anki changelog they updated the review screen in version 2.1.36. I upgraded to 2.1.40 and now I am getting the error. So this almost certainly has nothing to do with this addon and is probably something AnkiConnect is doing when Anki itself is not expecting it.

[2021-02-08 11:40] fletchermoore commented on #31
So I was about to send a pull for my allowOverwrite option. I have noticed more than one issue posted here that people want the ability to add duplicates. Since this functionality is contrasting allowOverwrite, they perhaps need to be a toggle.

Possible options would be:
anki.send.duplicateBehavior: toggle
- Delete and replace if backs match
- Update in place, leaving learning metadata unchanged

[2021-02-08 11:47] sanyuedev commented on #40
I also had this problem

[2021-02-08 12:03] fletchermoore opened #41 "Multiple card creation strategies"
I see a request for #12 and #23 for alternate card creation strategies.

I think that one from notion is really cool and clean.

I made my own favorite on my fork, modeled after my old attempts to make ODT and Word notes into Anki flashcards https://github.com/fletchermoore/n2c2 and https://github.com/fletchermoore/AnkiNotebooks

So I propose a card creation strategy option list:
Not sure what to

[2021-02-08 12:30] fletchermoore commented on #41
Of course it now occurs to me that people might want to use different strategies depending on the markdown file. So rather than have a global setting for default, or perhaps in addition to, it could be specified in the front-matter or separate commands.

[2021-02-08 23:24] murpjack commented on #35
I have to be honest, I spent a while reading to understand the VScode api.
I have thought of a way to create this feature, though I am open to any suggestions. There may be a more simple implementation I haven't spotted.

The file tree inside __template__ is currently a list of folders(templates), each with a dynamically-generated read-only css file. We could define a location in the config file (

[2021-02-08 23:55] jasonwilliams commented on #35
It’s not a bad idea but it does sound a bit like premature optimisation. It might be easier to get the syncing feature working first with what we have. If we need to store in the FS then I would start by using the temp folder for which ever OS you’re on.
I don’t see it being important for the users to pick where to place these files it’s not like they’re useful outside of Anki.

As a user my expec

[2021-02-09 23:11] murpjack commented on #35
I have had a rethink about the sync feature. We could create a new (unsaved) file on clicking a file from the __templates__ tree, and append to it the css string. I think that trying to handle the files on our end will add additional complexity, which we should try to avoid.
When we click save, we make a PUT/POST update call.

It is unlikely that someone will be updating the same card template in

[2021-03-02 10:18] jasonwilliams commented on #36
@fletchermoore I think this can be closed now as ive merged your PR

[2021-03-02 10:18] #36 closed

[2021-03-29 14:28] qx opened #43 "Not work"
anki:Version ⁨2.1.38 (355e4cd5)⁩
vscod: 1.54.3 (Universal)
anki connect: AnkiConnect 0.01MB. Updated 2021-03-07.

[2021-03-29 18:31] jasonwilliams commented on #43
@qx could you be more specific about what the issue is?

[2021-04-01 13:00] ksrb commented on #43
![demo](https://user-images.githubusercontent.com/3750409/113297187-2acde200-92af-11eb-8652-30d4777c5a29.gif)

I can open another issue but I have a feeling that we're running into the same issue.

VS Code: 1.54.3 (system setup)
Anki: ⁨2.1.40 (cf446733)⁩
Anki Connect: 0.01MB. Updated 2021-03-07.

[2021-04-01 13:43] jasonwilliams commented on #43
Right I see. I don’t think the explorer will reflect any changes straight away. It only fetches from Anki when you open it up. It’s not “live”.

it sounds like you went a feature request for live updates in the explorer?

[2021-04-01 14:35] ksrb commented on #43
I can see how that GIF doesn't really show the issue 😕.

![demo](https://user-images.githubusercontent.com/3750409/113309916-818de880-92bc-11eb-8374-1c67f8a98752.gif)

Basically nothing is getting uploaded or 'synced' and as you noticed this is on Windows OS.

[2021-04-01 15:57] jasonwilliams commented on #43
There’s a verbose logging mode in the settings. You can turn that on and check the output

[2021-04-01 18:04] ksrb commented on #43
Extension: v1.2.0
VS Code: 1.54.3 (system setup)
Anki: ⁨2.1.40 (cf446733)⁩
Anki Connect: 0.01MB. Updated 2021-03-07

With verbose logging in the inspector and running `Anki: Send To Deck` or `Anki: Sync Anki`

![image](https://user-images.githubusercontent.com/3750409/113335453-ce33ec80-92d9-11eb-8677-1cd2b5762241.png)

I'm not that warning actually matters though.

[2021-04-01 18:12] jasonwilliams commented on #43
It won’t appear there, the verbose logging should appear in the output tab on the terminal. It should show requests being made to Anki.

in your settings json you need “anki.log” set to trace

[2021-04-01 23:42] ksrb commented on #43
So I played with it a bit and managed to:
- Fix the issue by uninstalling and installing the extension
- Duplicate the issue
- Fix the issue again by uninstalling and installing
- Failed to duplicate issue again

So after trying a bunch of things I couldn't reduplicate the issues a 3rd time 😅.
I'm inclined to leave the issue at that for now and just suggest to others who run into a similar issue j

[2021-04-02 12:49] jasonwilliams commented on #43
I’ll leave this issue open for now. Feel free to let me know once you can reproduce it

[2021-04-03 21:03] e946762847 opened #45 "have title but don't add to card"
Anki for VSCode -version:1.2
ankiconnect -version:new

when I write to code:
# ss
## d
## c
get a title 's' but haven't cards'd' and 'c'.
result
![image](https://user-images.githubusercontent.com/62010973/113491395-08cc9d80-9503-11eb-897b-974082dd2b45.png)
:

[2021-04-14 01:00] qx commented on #43
@jasonwilliams  I work on osx,  follow @ksrb 's suggestion,still not work, where can I get log for you

[2021-04-14 04:29] ksrb commented on #43
![image](https://user-images.githubusercontent.com/3750409/114654468-14f0f180-9c9f-11eb-8985-ff4d6a0afbde.png)

Try the above, maybe you'll have better luck than me at duplicating the issue.

[2021-04-14 12:01] DrRuhe commented on #43
I have the same problem, oddly enough, when sending to an own deck, it creates the deck in Anki, but does not populate it with the cards.
Before running anything (Settings are default, except tracing is enabled. I do not have anki sync setup (no account logged in)):
![image](https://user-images.githubusercontent.com/29500714/114706375-2aaaf900-9d29-11eb-99fe-feb2ae3f9f12.png)

After running:
![ima

[2021-04-14 12:50] jasonwilliams commented on #43
Thanks for raising. I will try to improve the tracing output to see if we can find out what’s causing it. There may also have been changes with the Anki Connect API

[2021-04-14 17:50] jasonwilliams commented on #43
@DrRuhe could you show a screenshot of your browse tab in Anki?
Just want to know what layouts you have setup and if its installed multiple ones

[2021-04-14 21:12] DrRuhe commented on #43
AFAIK I have no Layouts installed. However I'm new to Anki, so I don't really know what you mean. Anyways, here the screenshot:
![image](https://user-images.githubusercontent.com/29500714/114779762-cd3d9900-9d76-11eb-89cc-edc54740c633.png)

[2021-04-14 21:22] jasonwilliams commented on #43
@DrRuhe yeah, I expected to see BasicWithHighlightVSCode in that list and it’s not there.

can you keep trace on and run “ Anki: Force Re-install” and paste the output back here. Also do another screenshot of your browse window after that.

[2021-04-14 21:42] DrRuhe commented on #43
Here's the output after running the force reinstall.
https://pastebin.com/m7TKZH0h

Now BasicWithHighlightVSCode seems to be there. And now it works.
![image](https://user-images.githubusercontent.com/29500714/114783875-a719f800-9d7a-11eb-9fbe-965a3c34550e.png)

[2021-04-14 21:44] DrRuhe commented on #43
So if anybody else has the same problem, and  BasicWithHighlightVSCode does not show up in your Browse window, try the force reinstall action.
From my experience simply reinstalling the extension, and/or restarting anki/vscode did not help, however your mileage may vary.

[2021-04-15 07:15] qx commented on #43
[code]
 The same with you

[2021-04-15 07:29] qx commented on #43
It works after reinstall command
![截屏2021-04-15 下午3 28 20](https://user-images.githubusercontent.com/648406/114830846-4254b100-9dff-11eb-8b82-a9403f907ce8.png)

[2021-04-15 07:30] #43 closed

[2021-05-23 20:31] rayanthoney opened #48 "Send to own deck, creates a Deck but does not include the cards created."
## This extension does create the deck  with title using _Anki: Send To Own Deck_.

### but I am unable to get the cards created to also transfer over to the created deck. As you can see by the image both decks created have the correct titles but show cards as not having been created for this deck yet.

I did note that AnkiConnect has been recently updated as of May 9th 2021.

![Desktop Screenshot

[2021-05-23 21:23] jasonwilliams commented on #48
@rayanthoney fan you run Anki: Force Re-install and try again?

[2021-05-23 21:45] rayanthoney commented on #48
# Niiccee. :star2:

@jasonwilliams

Worked perfectly. I appreciate your quick response, :sparkles: That's Awesome. :sparkles:

![Desktop Screenshot 2021 05 23 - 15 33 32 43](https://user-images.githubusercontent.com/3719813/119277406-bcd1d700-bbdc-11eb-8c6b-aea32dcc9b02.png)

[2021-05-24 09:21] #48 closed

[2021-05-24 11:20] Yeeyao opened #49 "Send to own deck, creates a Deck but does not include the cards created"
## base info

| software | version |
| -------- | ------- |
| anki       |  2.1.44 (b2b3275f)⁩ |
| vscode | 1.56.2 |
| Anki for VSCode |  1.2.0 |
| OS | macOS big sur 11.3.1(M1)|

## desc

I have tried reinstall Anki and add-on

I also re-checked Anki and can't find the card

## log

[code]

[2021-05-29 21:08] sophyphile opened #51 "How to stop text inclusion in Anki card?"
Hi guys, apologies if this is a stupid question, I'm new to VS Code.

I want to add an Anki card, and then have some sort of closing operator, so that the text I write after it is not part of the Anki card. How can I do this? Is it possible with this software?

[2021-06-07 02:29] snake89322 commented on #31
I find new API anki-connect:
`updateNoteFields`
https://github.com/FooSoft/anki-connect/blob/master/actions/notes.md

it works, hopes add in new version soonly! 3ks~

[2021-07-25 16:29] jasonwilliams commented on #51
Hi @sophyphile sorry for the delayed response. I will have to try and add that as currently it’s not possible.

do you have an example to show which may help me fix this?

[2021-07-25 16:29] jasonwilliams commented on #49
Is this still happening? Did you try the force reinstall command?

[2021-07-25 16:30] jasonwilliams commented on #40
Is this still happening?

[2021-07-27 08:21] Yeeyao commented on #49
It works, thank you, I think I need to read the extension's doc more carefully next time

[2021-07-27 08:21] #49 closed

[2021-08-17 06:53] consal commented on #45
Same for me :(

[2021-08-17 07:15] jasonwilliams commented on #45
Does it still happen after running the “force reinstall” command?

[2021-08-19 15:23] benjamin-weller opened #59 "Not adding cards, but able to create deck"
VS Code: 1.59.0

    Anki 2.1.44 (b2b3275f) Python 3.8.6 Qt 5.14.2 PyQt 5.14.2
    Platform: Windows 10
    Flags: frz=True ao=True sv=2
    Add-ons, last update check: 2021-08-18 10:33:56

    ===Add-ons (active)===
    (add-on provided name [Add-on folder, installed at, version, is config changed])
    AnkiConnect ['2055492159', 2021-07-13T19:59, 'None', '']

I've create a markdown file that loo

[2021-08-19 17:47] jasonwilliams commented on #59
Does it still happen after running the “force reinstall” command?

[2021-08-19 17:52] jasonwilliams commented on #59
Hey @benjamin-weller thanks for raising.
In Anki could you go to "browse", then "note types" on the left and take a screenshot?

Something like this (except I want to see the whole list):
![image](https://user-images.githubusercontent.com/936006/130119411-795effe8-af65-4430-beaa-e0f9f3155e38.png)

[2021-08-19 18:54] benjamin-weller commented on #59
Here's the requested output
![image](https://user-images.githubusercontent.com/22554871/130126906-47c07f83-4fd6-486b-9269-d6cd690e8a15.png)

This is the first time I'm trying this, so I would say hasn't worked in the past.

Can you be more specific? Are you talking about this?
![image](https://user-images.githubusercontent.com/22554871/130127185-023de963-cb13-4804-bdcb-c7ea45ea3b1d.png)

I just re

[2021-08-19 19:30] jasonwilliams commented on #59
Thanks so I can see what the problem is.
When you install the extension is it supposed to add a new note type called “VSCodeBasicWithHighlighting”, but I see it’s not there. This is why it can create a deck, but cards with a type that isn’t there won’t work.

I’m going to put more logging in the extension and put out a new version. I don’t know why this keeps happening, sadly I can’t reproduce it

[2021-08-19 21:13] jasonwilliams commented on #59
@benjamin-weller could you try version https://github.com/jasonwilliams/anki/releases/tag/v1.2.1 with logging switched on and paste everything you get here.

It may fix the problem but i would be interested to see the output anyway.
Thanks

[2021-08-20 00:27] benjamin-weller commented on #59
Ok I checked and there's no VSCodeBasicWithHighlighting type even with reinstalling both add on and extension.

I'm now getting a new error from this new version:
![image](https://user-images.githubusercontent.com/22554871/130160604-7670109b-cbbd-4f21-aa18-372a3bafc5a7.png)
![image](https://user-images.githubusercontent.com/22554871/130160624-ff982395-1b33-4d0b-9821-365738fb90db.png)

[2021-08-20 00:29] benjamin-weller commented on #59
Additionally can you be more clear what you mean by logging (info) is this one of the dropdowns in the log output window below?

![image](https://user-images.githubusercontent.com/22554871/130160726-4da78339-d51e-4e1c-a993-0548d9b04611.png)

Do I have to change something in my settings to get the info we need here?

[2021-08-20 07:47] jasonwilliams commented on #59
In that dropdown you need to select “Anki for VSCode” you also need “anki.log” set to info in your settings

[2021-08-20 12:50] benjamin-weller commented on #59
Same deal:

![image](https://user-images.githubusercontent.com/22554871/130235737-15736826-788f-4449-99c8-83595a3ba90d.png)
![image](https://user-images.githubusercontent.com/22554871/130235752-a326950f-3062-4e7f-9f67-56e9fb4a87b7.png)
![image](https://user-images.githubusercontent.com/22554871/130235772-3a6dd82c-f45b-491f-82c1-22d161b34f8f.png)

[2021-08-20 12:52] benjamin-weller commented on #59
I just uninstalled and reinstalled the extension here's the info output I got:

[code]

[2021-08-20 12:58] jasonwilliams commented on #59
Thank you thats super useful, sorry you've become a beta tester in all of this.
So according to your logs, it looks as though it dropped off here:
https://github.com/jasonwilliams/anki/blob/701dd6c31a2d4f2c20187a06ae17e019b4eae34d/src/manageTemplate.ts#L23

The fact that it doesn't log anything after that it seems like it falls over somewhere around there.
My guess is https://github.com/jasonwilli

[2021-08-20 13:20] benjamin-weller commented on #59
This bit of software you wrote is awesome, I'm happy to help.

[code]

And yeah I still get the error when trying to send to own deck:
![image](https://user-images.githubusercontent.com/22554871/130239176-26229f8f-3130-409e-b1a3-75a8ad20e481.png)

Same with the send to deck command:
![image](https://user-images.githubusercontent.com/22554871/130239250-1557780b-4747-4d3b-bef3-aac2142d62cf.png)

Syn

[2021-08-20 13:53] jasonwilliams commented on #59
That last log is the request being sent to Anki to create a new template. Everything after that stops so its crashing around there. It explains why the commands don't work because it doesn't get far enough to register them

https://github.com/jasonwilliams/anki/releases/tag/v1.2.2 adds more logging around the updating of the model templates

[2021-08-20 14:09] benjamin-weller commented on #59
Here's what we get:

[code]

Looks like the import appears to work!?
![image](https://user-images.githubusercontent.com/22554871/130246139-49e232ad-8178-4dbc-9737-ff2b024429d5.png)

[2021-08-20 14:38] jasonwilliams commented on #59
Is it working now? Do you see the `updateModelTemplates` note type?

[2021-08-20 15:07] benjamin-weller commented on #59
I don't see that exact note type, but I do have `BasicWithHighlightVSCode`.

I believe that it works, I'll close now, if there's no further issues on your end. Thank you for your help!
![image](https://user-images.githubusercontent.com/22554871/130253719-497d9465-dad6-42af-a93e-e222abdb71a8.png)
![image](https://user-images.githubusercontent.com/22554871/130253738-24a77fa5-df30-4d23-ad58-9bc9cdfc0

[2021-08-20 18:48] jasonwilliams commented on #59
So I've found the issue and hopefully prevented it from happening again in future.
Before it would fail to install (mainly because Anki wasn't running), but mark itself as installed. So then future uses would cause the template to not be there. (What you was seeing).

v1.2.4 will now fail the installation if Anki is not running (or there is some other error), and it should try again on the next ac

[2021-08-20 20:04] jasonwilliams commented on #45
Could you try with the latest version?
Make sure Anki is running when you install

[2021-08-20 20:05] jasonwilliams commented on #45
Potential duplicate of https://github.com/jasonwilliams/anki/issues/59#issuecomment-902888466

[2021-08-20 22:25] #40 closed

[2021-08-20 22:25] jasonwilliams commented on #40
Closing due to inactivity

[2021-08-20 22:34] jasonwilliams commented on #29
The change would be here:
https://github.com/jasonwilliams/anki/blob/master/src/markdown/Serializer.ts#L127-L136

[2021-08-20 22:42] jasonwilliams commented on #33
@fletchermoore was you still looking into this?

[2021-08-20 22:42] jasonwilliams commented on #35
@murpjack was you still looking into this?

[2021-10-03 14:47] jasonwilliams commented on #59
@benjamin-weller are you still having issues?

[2021-10-03 14:54] jasonwilliams commented on #12
@songguoqiang looks like they use `---` as a delimiter is that correct?

[2021-10-03 14:55] jasonwilliams commented on #23
@ryepesg could you explain a bit more about how this would work? I don't know very much about notion2anki

[2021-10-03 14:56] benjamin-weller commented on #59
No it works now (thanks for the reminder)

[2021-10-03 14:56] #59 closed

[2021-10-04 05:33] searene commented on #31
It would be nice if I could update the front side of the card too. It requires attaching the Anki note id to the question when added:

[code]

Thus when I change the question or the answer, `Anki For VSCode` should notice that the card is already added before, the preferable behavior should then be `update` instead of `create`.

This is the idea behind [anki-editor.el](https://github.com/louietan/

[2021-10-04 09:55] imalightbulb commented on #12
Would like this to be implemented as well to enable card creation within notes. (instead of creating headers and interrupting)
Yes. Neuracache do uses `---` as a delimiter to separate cards I think. However, I think a more suitable design is to use tags with `-`, so we can create cards under headers.  (similar to logseq)

For example, you type
[code]
to create cards. I'm not sure if it's possible

[2021-10-04 12:43] jasonwilliams commented on #31
@searene have a look at the https://github.com/jasonwilliams/anki/issues/33 issue which fleshes out the implementation a bit more and feel free to comment there

[2021-10-19 13:48] SubjunctiveQuaver opened #63 "LaTeX curly brackets do not convert correctly"
I've noticed that LaTeX curly brackets do not convert correctly (according to standard LaTeX editing rules).

Fails: $\{STUFF\}$ [correct LaTeX syntax] -> \({STUFF}\) [appears wrong, as "STUFF"]
Works: $\\{STUFF\\}$ [wrong LaTeX syntax] -> \(\{STUFF\}\) [appears correct, as "{STUFF}"]

Ideally, the correct LaTeX syntax results in the correct display/conversion in Anki; right now adding an extra ba

[2021-11-20 09:15] aote777 opened #64 "How to upload Base64 encoded pictures"
####  Thanks for the tools written by the author

* Here is my markdown syntax
![图片](https://user-images.githubusercontent.com/53163966/142721039-fd3a7f3f-5174-4d8c-bf55-2f5e033b5102.png)

![图片](https://user-images.githubusercontent.com/53163966/142720930-3e922869-2054-47bb-b57a-645e444e4015.png)

[2021-11-20 09:17] aote777 commented on #64
I need to put Base64 last because it's too long

[2021-11-20 09:50] jasonwilliams commented on #64
Hi @aote777 theres currently no support for base64. It would need to be added, feel free to work on that as a feature. I currently don’t have any time right now.
I suppose you would need to see if Anki Or AnkiConnect supports base64

[2021-11-20 09:52] aote777 commented on #64
OK, I'll check it in my spare time

[2021-11-21 17:56] KennethEnevoldsen commented on #51
Hi @jasonwilliams I have an a similar issue:

I have a case here:
[code]

Here the topic header 2 is included in the first card, which is naturally not the goal. One option would be to add a *stop* token (e.g. ## or \n\n)

[2021-11-21 18:04] jasonwilliams commented on #51
Hmm yeah I wonder if stopping on a H1 would help? It already stops if it sees another h2 I believe. I’m open to ideas

[2021-11-21 18:36] KennethEnevoldsen commented on #51
Stopping on H1 would help in my case. But adding an optional stopping token using regex would also be an option.

Another option would be to change the regex for detecting the card to instead of detecting the start of the card (##) use the regex to find the entire card e.g. the regex `^##((.|\n)*)##` would match from ## to the next ##. If you don't want to include the ## then `(?<=##)((.|\n)*?)(?=

[2021-11-21 19:13] KennethEnevoldsen commented on #51
It seems it might be relevant to also remove ignore comment i.e. ``.

[2021-11-21 21:37] jasonwilliams commented on #51
https://github.com/jasonwilliams/anki/issues/10#issuecomment-678828123 Uses `<!— Card —>` maybe that’s an options

[2021-11-22 02:38] aote777 commented on #64
@jasonwilliams
I wrote a demo that can parse markdown syntax.
`https://www.jianshu.com/p/57b84a7a3c75`
And anki can automatically convert the base64 copied from the clipboard into img tags, but it seems to use the size limit, so I don't test it further

[2021-11-22 08:05] KennethEnevoldsen commented on #51
Sure. However, do believe that a field with a regex for extracting the card whether it be HTML comments or using another syntax would be ideal. This would allow the user to customize to their needs

[2021-11-22 08:32] jasonwilliams commented on #51
Yes we should offer an option for that. I’m just thinking of the most reasonable default

[2021-11-22 08:43] KennethEnevoldsen commented on #51
I Think HTML comment is a poor default though as it is also a comment thus I would expect it to ignore it in markdown documents potentially one of these from the anki integration with obsidian: https://github.com/Pseudonium/Obsidian_to_Anki

[2021-11-30 15:44] verodhi opened #65 "Only Reinstall and Syc are availabe commands."
I have been using this add-on successfully for few times. Now it has only reinstall and sync available, other commands that push to the deck are not available.

What have I done to debug:
1. Used the reinstall command.
2. Uninstall and reinstall the add-on.
3. Restart the machine and vs code.

Any suggestions on how  I can debug this will be very helpful.

System info:
OS: PopOS
VS Code version: 1

[2021-11-30 15:54] jasonwilliams commented on #65
The other commands only work if you're viewing a markdown file
https://github.com/jasonwilliams/anki/blob/master/package.json#L32-L41

Maybe you're viewing a file of a different type?

[2021-11-30 16:10] verodhi commented on #65
Yes, that was the exact issue. I had *.txt extension instead of *.md.
Thank you for quick response and a great project.

[2021-11-30 16:10] #65 closed

[2022-03-20 02:58] duguosheng opened #71 "Use the current directory structure as deck name"
When I write a shell or Python comment in a code block, it is incorrectly resolved to a deck name.
So I just think about that could you please add a new option that use the current directory structure as deck name?
If the user enables this option

1. Configure the anki root directory, such as `D:/Anki`
2. The program reads the relative path from the current file to the root directory, such as `D:/

[2022-03-20 10:17] jasonwilliams commented on #71
- Would you be happy with the workspace being the root directory? That would make things easier.
- Is this set as an additional command? Or a default save strategy that can be changed. (I think to begin with we may need to do a command)

[2022-03-20 13:05] duguosheng commented on #71
* It seems more reasonable to use workspace as the root directory.
* For my part, I prefer to use it as a save strategy that can be changed. But design it as a command is also fine  :)

[2022-03-21 09:14] jasonwilliams commented on #71
@duguosheng wluld you be happy working on this feature? I don’t think I’ll have time to look at it anytime soon

[2022-03-21 13:35] duguosheng commented on #71
OK, I'll try, but I don't know when it can be finished.

[2022-04-03 11:48] #71 closed

[2022-04-03 16:24] jasonwilliams commented on #71
@duguosheng this has now been released https://github.com/jasonwilliams/anki/releases/tag/v1.2.6 please let me know if that version is working ok

[2022-04-03 16:34] duguosheng commented on #71
It works, but I don't know why the option `save strategy` is at the bottom of the setting.

[2022-04-03 16:36] jasonwilliams commented on #71
How/where do you mean?

[2022-04-03 16:42] duguosheng commented on #71
I write option `save strategy` between `schema` and `defaultDeck`,

[code]

But in plug-in settings, it is at the end

![image](https://user-images.githubusercontent.com/52968130/161438462-a69bac7e-febf-4e99-8ad9-5b9b7cf7f7e6.png)

[2022-04-03 17:39] jasonwilliams commented on #71
I think its in alphabetical order

[2022-05-04 03:10] memeplex commented on #31
Obsidian dataview and Logseq are using the `property:: value` syntax for metadata, see https://blacksmithgu.github.io/obsidian-dataview/data-annotation/. For example:

[code]

or

[code]

[2022-05-04 03:16] hugoot opened #75 "how to set the same headline card to anki"
example:
![image](https://user-images.githubusercontent.com/49185525/166618444-b4919fe5-3956-4fdd-8f57-9298ca0298b8.png)

hello，i want to set these same two  headline card to anki ,but it only set the first  card .how can i Send To Deck without changing to different headline？

[2022-05-04 09:52] jasonwilliams commented on #31
Hey @memeplex thanks for the suggestion, its useful to see how others are doing it. I wonder if frontmatter is the most standard way of doing it so that other markdown viewers don't show the data. Do you know if these inline fields will show up on markdown viewers/editors?

[2022-05-04 09:55] jasonwilliams commented on #75
Hi @hugoot currently we don't allow duplicates. Because it would be odd to have 2 cards with the exact same front. If you feel. this should be a setting we currently hardcode it [here](https://github.com/jasonwilliams/anki/blob/main/src/AnkiService.ts#L134-L135)

You can do a PR for this to be a setting instead of hardcoded

[2022-05-04 19:14] memeplex commented on #31
Yes, they probably will, these are conventions more or less adopted by the PKM community, but just that.

The obsidian-spaced-repetition extension uses this syntax ``. This probably is compatible with every markdown tool out there. Perhaps `` ?

[2022-06-06 17:00] purequant opened #78 "Send to DirName deck can't work normally"
When I use "Send to dirname deck", it always send to the **default deck**

[2022-06-07 09:11] jasonwilliams commented on #78
CC @duguosheng

[2022-06-08 01:53] duguosheng commented on #78
Is your file in a subdirectory under the workspace? If it is in the root directory of the workspace, it will be sent to the default deck. @purequant

[2022-06-19 21:36] jasonwilliams commented on #35
@murpjack was you still interested in this feature being added?

[2022-06-19 21:37] jasonwilliams commented on #33
Hey @duguosheng now that you've added send by dirname, what are your thoughts on having a sync feature? So that you can go back to a file and update the fields from a markdown file?

[2022-06-26 14:50] duguosheng commented on #33
I tested the following steps:
1. create a md file for test (I use `---` instead of `%` to separate front/back)
[code]
2. send it to anki
<img width="518" alt="image" src="https://user-images.githubusercontent.com/52968130/175819903-d9b5c011-fbe5-4a8b-8d62-4eaa8d9afdc9.png">

3. use `findNotes` to get noteID
[code]
result:
[code]
4. use `updateNoteFields` to update note
[code]
<img width="450" alt=

[2022-06-26 19:29] jasonwilliams commented on #33
@duguosheng where are you storing the note id though?

[2022-06-27 02:55] duguosheng commented on #33
I did not store noteid in vscode workspace, but query it every time.  However, I forgot front content could be change too. So I
 just query note title this time.

1. send a test file to anki
<img width="255" alt="image" src="https://user-images.githubusercontent.com/52968130/175849753-cafcb8f8-a1c3-47c1-ad47-a29cdb059299.png">
<img width="418" alt="image" src="https://user-images.githubusercontent

[2022-06-27 08:52] jasonwilliams commented on #33
The problem is any bit of it could change then the query won’t work. The front content could change, the back content could change or the title. There’s no permanent state you can rely on for the query.

what happens if they change the title or front content and you use that to query? It wouldn’t give back any results.
I think somewhere you will need to save a mapping of the noteId (which you get

[2022-06-27 10:50] duguosheng commented on #33
If they change the title, it would be send to anki as a new note (same as now).
If they change the front/back content, update the note (now: note sending failed).
This is my personal opinion, maybe not good~

[2022-06-27 11:07] jasonwilliams commented on #33
I wonder if this is expected behaviour, maybe it is. is someone creating a new note or editing a current one? Does it overwrtite the old one? or is the old one still there?

[2022-06-27 11:19] duguosheng commented on #33
I think very few people do this.
But maybe very few people change the title too. Usually, changes occur in the front/back area. So I think it is acceptable for users to delete extra notes by themselves  if they change the title.

[2022-07-04 15:56] duguosheng commented on #63
I have tried to fix these errors these days, my pr is not be merged now, you can download new version [here](https://github.com/duguosheng/anki/releases/download/v1.2.7/anki-1.2.7.vsix) and help me to test it.
Besides `\{\}`, some other character errors have also been fixed(`\#\$\&\_`)

[2022-07-04 16:08] jasonwilliams commented on #78
@purequant has this resolved your issue?

[2022-07-04 16:12] jasonwilliams commented on #33
If they change the front/back content, update the note (now: note sending failed).

Im curious about this, isn't changing the title and front content the [same thing](https://github.com/jasonwilliams/anki/blob/main/src/markdown/parsers/cardParser.ts#L61-L62)? There's no distinction when we send to the API, the title is just html we send as [front](https://github.com/jasonwilliams/anki/blob/main/sr

[2022-07-04 16:34] duguosheng commented on #33
sorry, my bad. I usually write long notes like this.

[code]

but I don't know if more people like to write note like this

[code]

[2022-07-04 16:46] duguosheng commented on #78
Or maybe it's just a display error? I have already fix it [here](https://github.com/jasonwilliams/anki/pull/79/commits/0d3f32bad5443b83980ec424605ebfba7d314af4)

[2022-07-04 17:07] jasonwilliams commented on #33
Ok So in both cases the title and front content get sent to the API as one string of html. There is no differential between them. As far as the API is concerned..

[code]

is a single input which goes to the "front" of the card.

If you change any part of the front content you wouldn't be able to query it again.

[2022-07-05 03:04] duguosheng commented on #33
[code]

then, we can read the content of a card, and **only** convert the first line `## this is title` to `<h2 id="this-is-title">this is title</h2>`, then use it to query.
Also, we can read the deck name according to the user's saving strategy, for example, user use `send to dirname deck` command and this md file's path is `/path/to/workspace/CS/Typescript`, then the deck name is `CS::Typescript

[2022-07-05 03:47] duguosheng commented on #33
I don't want this function to change my md file. But if we save a mapping of the noteId in another file, it could be difficult to manage if there're several notes in just one file.

for example, this file is /path/to/workspace/mynote/note.md:
[code]

we save noteid as:
[code]

but what happen if user write a new note ***between note1 and note3***?

[2022-07-05 10:56] jasonwilliams commented on #33
Also, we can read the deck name according to the user's saving strategy, for example, user use send to dirname deck command and this md file's path is /path/to/workspace/CS/Typescript, then the deck name is CS::Typescript.
So the final query is:

This still doesn't fix the issue of the title being changed though, if the title is edited the query won't work and will return 0 results. I do like the

[2022-07-05 11:11] duguosheng commented on #33
so I say:

And the previous wrong notes need to be deleted by themselves in Anki. I think it's acceptable. Of course, maybe others don't think so.

[2022-07-17 21:20] raffraffraff opened #80 "Send to DirName just creates a deck called 'deck/subdeck'"
My directory tree is:

[code]

If I cd to anki-decks, type `code .`, open the note and use the command 'Anki: Send to DirName deck', it just creates a new deck called 'python/argparse'. It does not create a subdeck.

Edit: I can rename the deck in Anki, replacing the `/` with `::` and it fixes the nesting. But the feature doesn't work as documented.

### OS/Software versions
OpenSUSE Tumbleweed, (

[2022-07-17 23:08] jasonwilliams commented on #80
CC @duguosheng

[2022-07-18 02:18] duguosheng commented on #80
I only tested this command on Windows that file path separated by `\`, this bug will be fixed soon.

[2022-07-20 17:25] rubisco57 opened #81 "Remove '<h2>' when passing to Anki"
Thank you for sharing this plugin!

I would like to remove the h2 tag resulting from the usage of markdown level 2 headings as card separator. It is nice for visual display in vscode, but ugly on the flashcards. Mapping ## to another tag in the conversion or just nothing, would be a good solution.
Could you provide some build instructions? I could not get it to work, as it is the first time I am u

[2022-07-21 10:46] rubisco57 commented on #81
Thank you for your time, @jasonwilliams, and for guiding me in compiling my first VSCode extension. The Anki cards now follow the standard format.

[2022-07-21 17:16] jasonwilliams commented on #81
@rubisco57 you don't want to offer a PR to have it fixed upstream?

[2022-08-10 15:56] liquidsaul opened #83 "Send to Own/DirName Deck creates deck but does not add cards"
Title says it all.

I have the localhost instance running.

The desk is created however the actual card(s) never appear in the deck so the deck always has 0 cards and I can't add any.

Suggestions? @jasonwilliams

[2022-08-18 12:09] liquidsaul commented on #83
Here is the markdown file I'm using to try and create cards.

# Topic1

## What's the Markdown?

Markdown is a lightweight markup language with plain-text-formatting syntax.
Its design allows it to be converted to many output formats,
but the original tool by the same name only supports HTML.

## Who created Markdown?

John Gruber created the Markdown language in 2004 in collaboration with
Aaron S

[2022-08-18 17:24] jasonwilliams commented on #83
CC @duguosheng

[2022-08-21 02:14] duguosheng commented on #83
I haven't changed the code of creating card, so I don't know the reason for this...

[2022-08-22 12:27] liquidsaul commented on #83
@jasonwilliams

## Structure

$  tree flashcards
flashcards
└── deck1
    └── cluster_update_maintenance.md

---

I'm guessing its a problem with my directory structure but I'm not sure what the correct setup is.

Send to deck and send to DirName Deck both don't error out and create a desk but no cards are added (even with no H1)

If I don't set H1 with "Send to own deck" the error is -> "Deck not

[2022-09-13 12:21] raffraffraff commented on #80
The linked PR was merged almost a month ago. When / how do new versions of the plugin get released? Since this issue appears to break DirName on _all_ non-Windows system, I think this deserves a bug fix release.

[2022-09-13 12:25] jasonwilliams commented on #80
@raffraffraff i will try to release this week, if there isn’t a release feel free to remind me

[2022-09-14 22:14] jasonwilliams commented on #80
1.2.7 has been released

[2022-09-19 13:49] #80 closed

[2022-09-23 10:21] terwer opened #84 "Remote image not work"
When a markdown file contains remote image, it will throw a file not found error

[code]

![image](https://user-images.githubusercontent.com/3259282/191940851-462ba750-63a2-4aed-a46d-6cfb477d58e6.png)

It is better to treat remote image as a image link and add to html tags,not to check file.

[2022-09-23 16:36] jasonwilliams commented on #84
Hey @terwer yes that’s a good point, I’m open for PRs to fix this

[2022-09-26 22:57] Mjvolk3 opened #85 "Support Cloze for Latex Equations"
When I try to use Cloze on latex equations now, they do not render properly. For example they the $ sign is just recognized as an actual $. Thanks for your consideration.

[2022-10-05 03:21] benjamin-weller commented on #31
@jasonwilliams Would you be willing to accept a PR for this work? Any suggestions on how to get started working on developing this improvement for the extension?

[2022-10-05 12:51] jasonwilliams commented on #31
@benjamin-weller PRs are welcome, but I would be willing to hear how you plan to approach this fix too. Whether you want to explain that here or in the PR that’s fine.

As for contributing, you can just check this out and run the debugger in VSCode with Anki also loaded. That’s about it

[2022-10-06 15:40] xiaoSlash92 opened #86 "Cloze Regex Problem"
Can't use {{c\\w+:: to creat cloze card. After change cloze regex to {{c\d+::.+}}, cloze sytanx cards can be sent to anki, but anki tells me that card notetype is wrong, basicWithHighlightVSCode is not a Cloze note type. I have to change notetype manually to make cloze work.

![image](https://user-images.githubusercontent.com/8915064/194357103-01278686-831b-49bd-a471-3ef40f03dfd2.png)

[2022-10-30 19:57] philljolly opened #87 "Can't add Mathjax"
I can't figure out how to add equations to my Anki cards with this ace extension.

For example, this doesn't work:

[code]

Apologies if this is not broken but I am missing the obvious.

[2022-10-30 20:31] philljolly commented on #87
I found that this works:

\\(\\sqrt{x}\\)

but not this:

\(\sqrt{x}\)

[2022-11-03 14:38] GrimPixel opened #88 "Support VSCodium?"
Hi. I am currently creating a list of programs supporting Anki. If your extension is in VSCodium marketplace, I would put it on the list. How do you think?
https://polyglotclub.com/wiki/Language/Multiple-languages/Culture/FLOSS-programs-with-Anki-support

[2022-11-03 16:52] liquidsaul commented on #83
Issue fixed itself after I got a new M1 Macbook and tried it there.

[2022-11-03 16:52] #83 closed